<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 4.1.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.agentmetricgroup" id="com.dynatrace.cassandra.basic" name="Cassandra Basics">
    <jmxpmiperfmonmetricgroupconfig defaultmetriciconname="appserv.gif" metricgroupiconname="lense.gif" defaultmetrictype="appserver">
      <mbean domain="org.apache.cassandra.request">
        <attribute metricname="MutationStage.ActiveCount" unit="number" measuredescription="Currently Active Write Operations" attributename="ActiveCount" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="MutationStage" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.request">
        <attribute metricname="MutationStage.PendingTasks" unit="number" measuredescription="Currently Pending Write Operations" attributename="PendingTasks" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="MutationStage" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="FlushWriter.ActiveCount" unit="number" measuredescription="Currently Active Flush Operations" attributename="ActiveCount" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="FlushWriter" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="FlushWriter.PendingTasks" unit="number" measuredescription="Currently Pending Flush Operations" attributename="PendingTasks" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="FlushWriter" exclude="false" />
      </mbean>

      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="RequestResponseStage.ActiveCount" unit="number" measuredescription="Currently Active Responses" attributename="ActiveCount" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="RequestResponseStage" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="RequestResponseStage.PendingTasks" unit="number" measuredescription="Currently Pending Responses" attributename="PendingTasks" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="RequestResponseStage" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="ReadStage.ActiveCount" unit="number" measuredescription="Currently Active Read Operations" attributename="ActiveCount" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="ReadStage" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="ReadStage.PendingTasks" unit="number" measuredescription="Currently Pending Read Operations" attributename="PendingTasks" pathexpression="" aggregation="avg" />
        <keyproperty key="type" value="ReadStage" exclude="false" />
      </mbean>

      
      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="Internal.PendingTasks" unit="number" measuredescription="Currently Pending Cassandra Tasks" attributename="PendingTasks" pathexpression="" aggregation="sum" />
        <keyproperty key="type" value="*" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.internal">
        <attribute metricname="Internal.ActiveCount" unit="number" measuredescription="Currently Active Cassandra Tasks" attributename="ActiveCount" pathexpression="" aggregation="sum" />
        <keyproperty key="type" value="*" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.request">
        <attribute metricname="Request.PendingTasks" unit="number" measuredescription="Currently Pending Request Tasks" attributename="PendingTasks" pathexpression="" aggregation="sum" />
        <keyproperty key="type" value="*" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.request">
        <attribute metricname="Request.ActiveCount" unit="number" measuredescription="Currently Active Request Tasks" attributename="ActiveCount" pathexpression="" aggregation="sum" />
        <keyproperty key="type" value="*" exclude="false" />
      </mbean>
      
      <mbean domain="org.apache.cassandra.db">
        <attribute metricname="Pending Compactions" unit="number" measuredescription="Currently Pending Compactions" attributename="PendingTasks" pathexpression="" aggregation="sum" />
        <keyproperty key="type" value="CompactionManager" exclude="false" />
      </mbean>
      <mbean domain="org.apache.cassandra.db">
        <attribute metricname="Pending Commits" unit="number" measuredescription="Currently Pending Commits" attributename="PendingTasks" pathexpression="" aggregation="sum" />
        <keyproperty key="type" value="CommitLog" exclude="false" />
      </mbean>

      </jmxpmiperfmonmetricgroupconfig>
    <information>
      <description value="Basic Cassandra Monitoring" />
    </information>
  </extension>
</plugin>

